/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: rgb(3, 138, 43);
}

/* Cabeçalho */
.header {
  background: #2c8d44;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #FFD700;
  font-weight: 900;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-list a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
.nav-list a:hover {
  color: #FFD700;
}

/* Hero */
.hero {
  height: 100vh;
  background: url("cannabis-hero.jpg") no-repeat center center/cover;
  position: relative;
}
.hero-overlay {
  background: rgba(247, 6, 6, 0.6);
  background: url("https://images.unsplash.com/photo-1636047152186-7bd1d7a8a6ab?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d2VlZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000")  no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-text {
  color: white;
  max-width: 700px;
}
.hero-text h2 {
  font-size: 2.8rem;
  margin-bottom: 15px;
}
.hero-text span {
  color: #FFD700;
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #FFD700;
  color: #004d26;
  font-weight: 700;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}
.btn:hover {
  background: #004d26;
  color: #FFD700;
}

/* Seções */
.section {
  padding: 60px 20px;
  text-align: center;
}
.section h2 {
  margin-bottom: 20px;
  color: #004d26;
}

/* Vídeo */
.video-wrapper {
  display: flex;
  justify-content: center;
}
.video-wrapper iframe {
  width: 100%;
  max-width: 800px;
  border: 3px solid #FFD700;
  border-radius: 10px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #004d26;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
.card h3 {
  color: #004d26;
  margin-bottom: 10px;
}

/* Rodapé */
.footer {
  background: #004d26;
  color:white;
  text-align: center;
  padding: 25px;
  margin-top: 50px;
}


.footer p {
  margin: 5px 0;
}
  /* Seção de Download */

.download {
  background: #e8ffe8;
  text-align: center;
  padding: 80px 20px;
  border-top: 4px solid #006400;
}

.download h2 {
  color: #004d26;
  font-size: 1.8rem;
  margin-bottom: 25px;
}
.download-btn {
  background: #FFD700;
  color: #004d26;
  text-decoration: none;
  font-weight: bold;
  padding: 14px 30px;
  border-radius: 8px;
  transition: 0.3s;
}

.download-btn:hover {
  background: #004d26;
  color: #FFD700;
}

#botaoMensagem {
  background-color: #23a455;
  border: none;
  padding: 12px 24px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

#botaoMensagem:hover {
  background-color: #1c8c48;
  transform: scale(1.05);
}
.btn-contato {
    display: inline-block;
    padding: 12px 25px;
    background: #2ecc71;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-contato:hover {
    background: #27ae60;
}
